body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    margin: 0;
    padding: 20px;
}

header, section {
    margin-bottom: 40px;
}

h1 {
    color: #00eaff;
}

h2 {
    color: #ffaa00;
}
